.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 450px;
    width: 250px;
    margin: 10px;
    padding: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .product-img {
    height: 200px;  /* Ajuste a altura conforme necessário */
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
  }
  
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;  /* Tamanho fixo para o header */
    width: 100%;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
  }
  
  mat-card-title, mat-card-subtitle {
    font-size: 1em; /* Ajuste conforme necessário */
    margin: 0;
    padding: 0;
    text-align: center;
    white-space: normal; /* Permite quebra de linha */
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona "..." se necessário */
  }
  
  mat-card-title {
    font-weight: bold;
  }
  
  mat-card-content p {
    margin: 4px 0;
  }
  
  .card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }
  
  .mat-mini-fab {
    margin: 0 4px;
  }