<mat-card class="product-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{name}}</mat-card-title>
      <mat-card-subtitle>{{brand}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{image}}" class="product-img">
    <mat-card-content>
      <p>Ref: {{reference}}</p>
      <p>Quantidade: {{amount}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="buttons">Editar</button>
      <button mat-raised-button color="primary" class="buttons">Deletar</button>
    </mat-card-actions>
  </mat-card>