.list-products-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.list-products-container>app-product{
    margin: 3%;
}

.card{
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
}