<mat-card>
    <mat-card-content>
        <mat-toolbar color="primary" style="margin-bottom: 1%;">
            <span>Detalhes do Produto</span>
        </mat-toolbar>

        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Referência</mat-label>
                <input matInput formControlName="reference">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Quantidade</mat-label>
                <input matInput formControlName="amount">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Marca</mat-label>
                <input matInput formControlName="brand">
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Imagem</mat-label>
                <input matInput formControlName="image">
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button routerLink="/" color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button routerLink="/" (click)="onCancel()">Cancelar</button>
      </mat-card-actions>
</mat-card>